.App {
  text-align: center;
}

nav, .navi {
  display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
  background-color: #0e3473;
  color: white;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.maindiv {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #ede1ed;
  border-radius: 25px;
  border: 2px solid #0c60a6;
  color: black;
}
.maindiv2 {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #378DFC;
  border-radius: 25px;
  border: 2px solid #0c60a6;
  color: white;
}
.maindiv2 h1 {
  color: black
}
.loginbutton {
  margin: 20px;
  border: 2px solid grey;
}

.headform {
  width: 100%;
  height: 100px;
  align-items: center;
  position: relative;
  padding-top: 20px;
}
.titleheadform {
  text-align: center;
}
.backbutton {
  margin: 10px;
  height: 50px;
  width: 70px;
  font-size: 13px;
  text-align: center;
  background-color: #02283d;
  color: white;
  padding: 8px;
  position: fixed;
  top:20%;
  left: 0;
  
}
.mainbutton {
  width: 300px;
  height: 130px;
  margin: auto;
  border-radius: 10px;
  background-color: #0827d4;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 50px;
}
.mainbutton:hover {
  background-color: #0e95e8;
  color: white;
}
.pubutton {
  width: 400px;
  height: 200px;
  margin: auto;
  border-radius: 10px;
  background-color: #0827d4;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 70px;
}
.pubutton:hover {
  background-color: #0e95e8;
  color: white;
}
.secondarybutton {
  margin: 5px;
}
.submitbutton {
  float: right;
  margin: 10px;
}
.prevbutton {
  float: left;
  margin: 10px;
}
.d-flex {
  margin: 10px auto 10px auto;
}
.tablediv {
  align-items: center;
  margin: auto 10px auto 10px;
}
.formdiv {
  margin: auto 10px auto 10px;
  text-align: left;
}
.viewdiv {
  float: left;
  text-align: justify;
}
.form-group {
  margin-bottom: 15px;
}
.tractive td:active{
  background: #123456;
  color: #fff;
  transition-delay: 2ms;
}
.viewimage {
  height: 200px;
  width: 200px;
}


/* ------------------ START OF LOG IN DESIGN ------------------ */
/*--- Social media buttons ---*/
.ff {
  padding: 15px;
  font-size: 19px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa { /* fa log in page */
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-android {
  background: #a4c639;
  color: white;
}
/*--- Social media buttons ---*/


/*--- 2 buttons 1 line ---*/
#outer{
    width:100%;
    text-align: center;
}
.inner{
    display: inline-block;
}
/*--- 2 buttons 1 line ---*/
.company {
  margin-top: 50px;
  text-align: center;
  color: #0E1117;
}
.datsys {
  margin-top: 15px;
  text-align: center;
  color: #0E1117;
}
.login_body {
  background-color: red;
}
.login_box {
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: red;
  border-radius: 25px;
  border: 2px solid grey;
}
.login_box h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.login_box input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #F682BC;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 16px;
}
.login_box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto 20px auto;
  text-align: center;
  border: 2px solid #F682BC;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 16px;
}
.login_box input[type="text"]:focus,
.login_box input[type="password"]:focus {
  width: 270px;
  border: 3px solid #ed0e7e;
}
.login_box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #F353A3;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 10px;
  transition: 0.25s;
  cursor: pointer;
  font-weight: bold;
}
.login_box input[type="submit"]:hover {
  background: #ed0e7e;
}
.login_box input[type="submit"]:visited {
  text-decoration: none;
}
.login_box input[type="submit"]:active {
  background: #d46a84;
  transition: 0.25s;
}

.login_box_admin {
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #2A3244;
  border-radius: 25px;
  border: 2px solid grey;
}
.login_box_admin h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.login_box_admin input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #555A68;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 16px;
}
.login_box_admin input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto 20px auto;
  text-align: center;
  border: 3px solid #555A68;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 16px;
}
.login_box_admin input[type="text"]:focus,
.login_box_admin input[type="password"]:focus {
  width: 270px;
  border-color: white;
}
.login_box_admin input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #9BA2B1;
  padding: 14px 40px;
  outline: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.25s;
  cursor: pointer;
}
.login_box_admin input[type="submit"]:hover {
  background: #9BA2B1;
}
.login_box_admin input[type="submit"]:visited {
  text-decoration: none;
}
.login_box_admin input[type="submit"]:active {
  background: #d46a84;
  transition: 0.25s;
}

/* Style the tab */
.tab {
  position: relative;
  padding: 10x;
  background-color: #f1f1f1;
  width: 364px;
  border-radius: 20px;
  box-sizing: border-box
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  width:172px;
  display: inline;
  width: 180px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 17px;
  transition: 0.3s;
  font-size: 17px;
  color: #0E1117;
  font-weight: 520;
  border-radius: 20px 0 0 20px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #EDE1ED;
  color: #0E1117;
  font-weight: bold;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #EDE1ED;
  color: #0E1117;
  font-weight: bold;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
/* Style the buttons inside the tab */
.tab2 button {
  background-color: inherit;
  width:175px;
  display: inline;
  width: 180px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 17px;
  transition: 0.3s;
  font-size: 17px;
  color: #0E1117;
  font-weight: 520;
  border-radius: 0 20px 20px 0 ;
}
/* Change background color of buttons on hover */
.tab2 button:hover {
  background-color: #2A3244;
  color: white;
}
/* Create an active/current tablink class */
.tab2 button.active {
  background-color: #2A3244;
  color: white;
}

/* ------------------ END OF LOG IN DESIGN ------------------ */

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
    border-radius: 50px;
    border: solid black 1px;
    height: 40px;
}